<div class="card Large">
    
      <div class="card-image">
      <img src={{thisItem.url}}>
      <span class="card-title">}}</span>
    </div>
    
    <div class="card-content">
      <h6>Price: {{thisItem.price}}</h6>
           <p>{{thisItem.description}}</p>
    </div>
</div>





<!-- 
        <div class="card">
            <div class="card-body">
              {{i}}          
              <div class="image">
                <img [src]="thisItem.url" alt="" style="position: relative; width: 100%;" />
                <h2> {{thisItem.name}} 
                  <br />{{thisItem.price}}
                  <br />{{thisItem.quantity}}
                  <br />{{thisItem.price}}</h2>
                  <br/> <p>{{thisItem.description}}</p>
              </div>
            </div>
          </div> -->
