.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg{
  position: fixed;
  width: 100%;
  height : 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cont {
  background-color: aliceblue;
  border-radius: 20px;
  width: 500px;
  height: 400px;
}

/* resize images */
.cont form {
  width: 100%;
  height: auto;
}