<div class='container-fluid'>
  <div class='row'>

    <div class='col-6'>
      
      <div *ngFor="let item of itemFromCategory; let i = index" >

          <!-- <div class="col s12 m7"> -->
            <div class="card">
              
              <a class="nav-link" [routerLink]="[item._id]">
              
                <div class="card-image">
                <img src={{item.url}}>
                <span class="card-title">{{item.name}}</span>
              </div>
              
              <div class="card-content">
                <p>Price: {{item.price}}</p>
              </div>
            </a>
            
            <div class="card-action">
              <a (click)="addToBuy(item)">add</a>
            </div>
          </div>
        <!-- </div> -->
     
    </div>
  </div>
    
    


  <div class='col-6'>
    <router-outlet></router-outlet>   
  </div>
</div>

