<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['about']">About</a></li>
        <li><a [routerLink]="['toysitems']">Tyos Items</a></li>
        <li><a [routerLink]="['historyorder']">History Order</a></li>
      </ul>
    </div>
</nav>

<div class='container'>

  
    <router-outlet></router-outlet>
  <div>
    <div id="container">
      <a class="nav-link"   (click)="routToListOrder()" >
        <img id="img1" height="50px" width="50px" src="https://res.cloudinary.com/dvd8gmxgd/image/upload/v1554316737/shopping-cart.png" >
      </a>
      <span class="dot" >{{itemForBuy.length}}</span>
    </div>
  </div>
</div>
