<button mat-fab color="primary" (click)="routToListOrder()"  class="loct">
  <mat-icon matBadge={{numberOfItem}} matBadgeColor="warn">shopping_cart</mat-icon>  
</button>


<mat-toolbar color="accent">
<mat-toolbar-row>
<div class='container-fluid'>
<div class='row'>
 <div class='offset-4 col-1'>
    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle [routerLink]="['about']">About</mat-button-toggle>
        <mat-button-toggle [routerLink]="['toysitems']">Tyos Items</mat-button-toggle>
        <mat-button-toggle [routerLink]="['historyorder']">History Order</mat-button-toggle>
      </mat-button-toggle-group>
</div>
</div>
</div>
<span class="spacer"></span>
<button mat-raised-button matTooltip="My Profile" [routerLink]="['historyorder']"  >
<i class="material-icons">account_box</i>
</button>

</mat-toolbar-row>
</mat-toolbar>



<router-outlet></router-outlet>



<!-- <div>
<div id="container">
<a class="nav-link"   (click)="routToListOrder()" >
  <img id="img1" height="50px" width="50px" src="https://res.cloudinary.com/dvd8gmxgd/image/upload/v1554316737/shopping-cart.png" >
</a>
<span class="dot" >{{itemForBuy.length}}</span>
</div>
</div> -->


<!-- <i class="material-icons">
  delete_forever
  </i> -->
