

<mat-toolbar color="accent">
<mat-toolbar-row>
<div class='container-fluid'>
<div class='row'>
<div class="col-1">
    <button mat-fab color="primary" (click)="routToListOrder()"  >
        <mat-icon matBadge={{numberOfItem}} matBadgeColor="warn">shopping_cart</mat-icon>  
      </button>      
</div>
 <div class='offset-3 col-1 mt-1'>
    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle [routerLink]="['about']">About</mat-button-toggle>
        <mat-button-toggle [routerLink]="['toysitems']">Tyos Items</mat-button-toggle>
      </mat-button-toggle-group>
</div>
</div>
</div>
<span class="spacer"></span>
<button mat-raised-button matTooltip="My Profile" [routerLink]="['historyorder']"  >
<i class="material-icons">account_box</i>
</button>

</mat-toolbar-row>
</mat-toolbar>



  <router-outlet></router-outlet>



  <div id="carouselExampleFade" class="bg carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        
        <div class="carousel-item" data-interval="10000">
          <img src="./assets/1f.jpg" class="img-fluid d-block w-100" alt="...">
        </div>
        
        <div class="carousel-item" data-interval="10000" >
          <img src="./assets/2f.png" class="img-fluid d-block w-100" alt="...">
        </div>
       
        <div class="carousel-item active" data-interval="10000">
          <img src="./assets/3f.jpg" class="img-fluid" alt="...">
        </div>
      
      </div>
     
    </div>