<div class='container mt-5'>
<div class='row'>

  <mat-accordion class='col-4'>
    <mat-expansion-panel *ngFor="let client of listClient; let i = index"  (opened)="panelOpenState = true"(closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="material-icons">account_circle
                </i>{{client.name}} {{client.family}}
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
          <br /><i class="material-icons">alternate_email</i> {{client.email}}
          <br />
          <br />
          <br /><i class="material-icons">location_on</i> {{client.city}}
          <span class="spacer">
            Order
              <a [routerLink]="[client._id]">
                <img src="./assets/order.png">
              </a>
          </span>   
      </p>
    </mat-expansion-panel>
  </mat-accordion>


 <div class='col-8'>
     <router-outlet></router-outlet>
 </div>
</div>
</div>
          
  