<div class='container'>
  <div class="row justify-content-center">
    <div class="col-5">

      <mat-accordion>
        <div *ngFor="let items of listBuy; let i = index">
          
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{items.item.name}}
                  </mat-panel-title>

              <mat-panel-description class="cent">
                {{items.item.price * items.qut}}
              </mat-panel-description>
            
            </mat-expansion-panel-header>
            <div class="cont">
                          <img class="card-img-top " src={{items.item.url}} alt="Card image cap">
              </div>
              <button mat-button (click)="delet(items.item._id)"><i class="material-icons">clear</i></button>
              <button mat-button (click)="plus(items.item._id)"><i class="material-icons">add</i></button>
              <button mat-button (click)="minus(items.item._id)"><i class="material-icons">remove</i></button>

              <span class="ml-3 mr-3 ">{{items.item.price}}<i class="material-icons ico">attach_money</i></span> 
              <span class="mr-3">{{items.qut}} <i class="material-icons ico">filter_none</i></span>
            
              
          </mat-expansion-panel>
        </div>
        
        <mat-list-item class="pso">Total Order: {{totalPrice}}</mat-list-item>
        <mat-divider></mat-divider>
        
      </mat-accordion>
    </div>
</div>
<div class="row justify-content-center">
<div class="col-2">
  <button (click)="orderBuy()" class='btn btn-primary'>Buy</button>
</div>
</div>
  
    </div> 
