  
    
    
        <!-- <mat-card>

              <mat-card-content>
                
                  <mat-list-item *ngFor="let item of listItems; let i = index">
                   
                    <div style='width: 300px;'>
 -->
                      <!-- <span style="float:inline-start;">   -->
                        <!-- {{item.item.name}}  -->
                      <!-- </span> -->
                      
                      <!-- <span >  -->
                        <!-- {{item.item.price}} x {{item.qut}} -->
                      <!-- </span> -->
                    
                    

                   <!-- <span class="bt">
                     <a  (click)="plus(item._id)" >+</a> 
                     <a  (click)="minus(item._id)" >-</a>
                   </span>  

                      <span  style="float: right;">
                        {{item.item.price * item.qut}}
                      </span> 
                    
                        
                    </div>
                      <mat-divider> </mat-divider>
                    </mat-list-item>
               
                  </mat-card-content>
                  {{totalPrice}}
                

              <mat-card-actions>
                <button mat-button color="warn" (click)="updateOrder()">Update</button>
              </mat-card-actions>
        </mat-card> -->

        <mat-card class="example-card">
            <mat-card-content>
              <div style="margin-bottom: 25px" *ngFor="let item of listItems; let i = index">
                  <span>{{item.item.name}}</span> 
        
                  <span  style="float: right;">
                      
                    <span class="p_q">{{item.item.price}} x {{item.qut}}</span>
                    
                    <span class="p_m">
                        <a class="bt"  style='margin-right: 10px;'   (click)="plus(item._id)"> +</a> 
                        <a  class="bt" (click)="minus(item._id)" >-</a>     
                    </span>
                    
                    {{item.item.price * item.qut}}
                    </span> 
                    <div style="margin-top: 10px"></div>
                  <mat-divider> </mat-divider>    
              </div>
              <div  style="float: right;">
                 Total: {{totalPrice}}
              </div>
            </mat-card-content  >

            <!-- btn -->
            <mat-card-actions>
              <button (click)="updateOrder()" mat-button>UPDATE</button>
            </mat-card-actions>
          </mat-card>
       
      
     

        
        
      
      
      
      
      
      
      
      
      
      <!-- <div class="col s12 m7">
        <div class="card horizontal">              
          <div class="card-stacked">
            
            <div class="card-content">
              <ul>
                <li *ngFor="let item of listItems; let i = index">
                  
                  <h6>{{item.item.name}}</h6>
                  <p>{{item.item.price}} x {{item.qut}}={{item.item.price * item.qut}} </p>
                  <a (click)="plus(item._id)" class="btn-floating btn-large waves-effect waves-light "><i class="material-icons">add</i></a>
                  <a (click)="minus(item._id)" class="btn-floating btn-large waves-effect waves-light "><i class="material-icons">remove</i></a>
                  <a  (click)="delet(item._id)" class="btn-floating btn-large waves-effect waves-light "><i class="material-icons">cancel</i></a>
                </li>
              </ul> 
              <h4>{{totalPrice}}</h4>  
          </div>
          <div class="card-action">
            <a (click)="updateOrder()">Update</a>
          </div>
        </div>
      </div>
    </div> -->
    
